<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.gdqy.Controller">

    <application
        android:allowBackup="true"
        android:icon="@drawable/qhway"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainView.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainView.My.UploadActivity" />
        <activity android:name=".MainView.My.MoreSetActivity" />
        <activity
            android:name=".MainView.HomePage.SearchActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".MainView.My.ReleaseNoticeActivity" />

        <activity android:name=".LoginRegisterView.LoginRegisterActivity" />

        <activity android:name=".LiveWatcherView.WatcherViewActivity"/>
    </application>

</manifest>